<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">

				<h2>About</h2>
				<p>Focusはタスクを並べ、<br>
					今取り掛かるべきタスクを<br>
					整理してくれるアプリです。
				</p>
				<h2>使い方</h2>
				<h4>タスク登録</h4>
				<p>タスクを登録しましょう</p>
				<%= link_to "ログイン", "/users/sign_in" %>
			</div>

		</div>
	</div>
</div>
