<div class="row nav-box">
	<div class="col-xs-6 col-xs-offsete-3">
		<div class="nav-item">
			<%= link_to 'スケジュール', "/shcedule_items" %>
		</div>
		<div class="nav-item">
			<%= link_to 'タスク管理', "/task_items" %>
		</div>
		<div class="nav-item">
			<%= link_to 'ヒストリー', "/history_items" %>
		</div>
		<div class="nav-item">
			<%= link_to 'マイページ', "/user/#{current_user.id}" %>
		</div>
	</div>
</div>
