<!-- itemで渡す -->
<div class="">
	<div class="row">
		<div class="col-xs-9">
			<p>
				<%= item.title %>
			</p>
			<p>
				所要時間：<%= item.required_time %>分
			</p>
		</div>
		<div class="col-xs-3">
			<button type="button" name="button" class="btn btn-success">編集</button>
			<button type="button" name="button" class="btn btn-danger">削除</button>
		</div>
	</div>
</div>
